body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  border-bottom: 1px solid #dedede;
}

.header {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
}
.header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 77%;
}

.header-logo {
  display: block;
  background-image: url(../img/logo.svg);
  width: 176px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  gap: 46px;
  margin-right: 100px;
  margin-top: 16px;
}

.header-nav a {
  font-weight: 600;
  font-size: 20px;
  color: #443737;
  text-decoration: none;
}

.header-nav a:hover {
  color: #ffc725;
}

.header-nav a::after {
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: transparent;
  display: block;
}

.header-nav a.active::after {
  background-color: #ffc725;
}

.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  gap: 10px;
  cursor: pointer;
}

.button-item {
  position: relative;
}

.button-count {
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  background: #f37335;
  border-radius: 100%;
  position: absolute;
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 1.3;
  bottom: 3px;
  right: -4px;
}

.button-text {
  color: #443737;
  font-weight: 700;
  font-size: 15px;
}

.bg {
  text-align: center;
  color: #ffffff;
  background-image: url(../img/bj.jpg);
  background-size: cover;
  padding: 142px;
  background-position: center center;
  margin-bottom: 139px;
}

.breadcrumbs {
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 7px;
}

.breadcrumbs a {
  color: #dedede;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.breadcrumbs a:hover {
  color: #ffc725;
}

.breadcrumbs a:hover::before {
  color: #dedede;
}

.breadcrumbs a::before {
  content: "/";
  position: relative;
  left: -3px;
  pointer-events: none;
}

.breadcrumbs li:first-child a::before {
  display: none;
}

.title {
  font-size: 79px;
  font-weight: 700;
  margin-top: 17px;
  margin-bottom: 20px;
}

.description {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.6;
  color: #faf9f9;
  max-width: 320px;
  margin: 0 auto;
}

.banner-box {
  background-image: url(../img/banner.jpg);
  color: #ffffff;
  background-size: cover;
  background-position: center center;
  padding: 100px;
  text-transform: uppercase;
  margin-bottom: 83px;
}

.banner-title {
  font-weight: 900;
  font-size: 60px;
  margin: 0;
}

.banner-title span {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  display: block;
  width: 58px;
  background-color: #f37335;
  border-radius: 14px;
  padding: 5px 19px;
  margin-bottom: 8px;
}

.banner-description {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.48;
  color: #faf9f9;
  width: 328px;
  text-transform: none;
  margin-bottom: 17px;
}

.banner-link {
  color: #1e2f40;
  font-weight: 700;
  font-size: 14px;
  background: #fbb731;
  border-radius: 5px;
  padding: 9px 19px;
  display: block;
  width: 130px;
  height: 37px;
  text-align: center;
  text-decoration: none;
  line-height: 2.5;
  border: 1px solid #fbb731;
  transition: 0.2s;
}

.banner-link:hover {
  background-color: transparent;
  color: #fbb731;
}
.menu {
  padding-top: 20px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.menu-title {
  font-weight: 700;
  font-size: 44px;
  text-transform: uppercase;
  color: #1b2a49;
  margin: 0;
}

.menu-select {
  border: 1px solid #dedede;
  border-radius: 22px;
  padding: 13px 30px;
  color: #443737;
  font-size: 15px;
  appearance: none;
  flex-basis: 279px;
  background-image: url(../img/arrow.svg);
  background-size: 12.79px 7.75px;
  background-repeat: no-repeat;
  background-position: 89% center;
}

.menu-grid,
.menu-grid-other {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 20px;
  margin-bottom: 103px;
}

.menu-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu-grid-cover {
  width: 100%;
  height: 430px;
  position: relative;
  overflow: hidden;
}

.menu-grid-cover img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 430px;
}

.menu-grid-title {
  font-size: 30px;
  text-align: center;
  color: #1b2a49;
  margin-top: 22px;
  font-weight: 600;
  margin-bottom: 0;
}

.menu-grid-price {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #1b2a49;
  margin-top: 9px;
  margin-bottom: 22px;
}

.menu-grid-btn {
  background: #fbb731;
  border-radius: 5px;
  border: none;
  padding: 10px 30px 10px 52px;
  width: 152px;
  height: 38px;
  position: relative;
  transition: 0.2s;
}

.menu-grid-btn:hover {
  background-color: #f37335;
  cursor: pointer;
}

.menu-grid-icon {
  background-image: url(../img/cart-menu.svg);
  position: absolute;
  width: 18px;
  height: 18px;
  left: 29px;
  top: 10px;
}

.menu-grid-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #1e2f40;
}

.footer {
  background: #1e2f40;
  color: #fff;
  padding-top: 117px;
  padding-bottom: 89px;
  margin-top: 141px;
}

.footer-box {
  display: flex;
  justify-content: flex-start;
}

.footer-logo {
  width: 63px;
  height: 56px;
  margin-right: 136px;
}

.footer-item h2 {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-top: 2px;
}

.footer-list {
  padding-left: 0;
  list-style-type: none;
  margin-top: -1px;
}

.footer-item li {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  color: #dedede;
  line-height: 2.2;
}
.footer-item a {
  color: #dedede;
  text-decoration: none;
}

.footer-item span {
  display: block;
  font-weight: 700;
  font-size: 15px;
  color: #faf9f9;
  margin-top: -3px;
  line-height: 24px;
}

.footer-list-info li:first-child {
  margin-bottom: 8px;
}

.footer-item-tel li {
  font-size: 20px;
  color: #fbb731;
  margin-top: 0;
  font-weight: 800;
  text-transform: uppercase;
  display: block;
}

.footer-item-links {
  margin-right: 161px;
}

.footer-item-info {
  margin-right: 143px;
}

.footer-item-tel {
  margin-top: -6px;
}

.footer-item-tel li {
  letter-spacing: 0.5px;
}

.footer-list-tel li:first-child {
  margin-bottom: -6px;
}

.footer-item-tel a {
  color: #fbb731;
}

.button-up {
  background-color: #fbb731;
  color: #1e2f40;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 20px;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  transition: 1s;
}

.button-up:hover {
  background-color: #f37335;
}

.button-up.hidden {
  opacity: 0;
}

button-up.visible {
  opacity: 1;
}

/* Style INDEX */

.main {
  background: linear-gradient(180deg, #0c4c7b -100%, #1e2f40 100%);
}
.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.text {
  color: #faf9f9;
  flex: 0 0 580px;
  padding-top: 170px;
  padding-bottom: 170px;
}
.main-title {
  font-size: 120px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 120px;
  margin-bottom: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
.main-title span {
  color: #fbb731;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  display: block;
  margin-bottom: 10px;
}
.text p {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  line-height: 1.4;
  margin-bottom: 42px;
}
.main a,
.promo a {
  color: #1e2f40;
  background-color: #fbb731;
  border-radius: 5px;
  text-decoration: none;
  padding: 20px 45px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.visual {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.visual-bg {
  width: 432px;
  height: 100%;
  background: linear-gradient(
    2.42deg,
    #f37335 -19.6%,
    #fbb731 100.79%,
    #fdc830 100.79%
  );
}
.main img {
  width: 829px;
  position: absolute;
  right: -168px;
}
.promo {
  padding-top: 186px;
  padding-bottom: 46px;
}
.promo-left,
.promo-right {
  flex: 0 0 49%;
  color: #fff;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.promo-left {
  background-image: url(../img/promo-left.png);
  padding: 116px 50px;
}
.promo-right {
  background-image: url(../img/promo-right.png);
  padding: 102px 50px;
}
.sale {
  font-size: 14px;
  font-weight: 900;
  background: #f37335;
  padding: 5px 19px;
  border-radius: 14px;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 3px;
  margin-top: 0;
}
.cost {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 8px;
  margin-top: 0;
}
.promo-description {
  font-family: "Open Sans", sans-serif;
  color: #faf9f9;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 0;
}
.promo-left .promo-description {
  max-width: 392px;
}
.promo-right .promo-description {
  max-width: 300px;
  margin-bottom: 20px;
}
.free {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
}
